
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section Header{
   
    <h2 class="header__main">
        <span class="breadcrumb">
            <i class="fa fa-home"></i>
        </span>
        <span class="title">Trang Chủ</span>
    </h2>   


}
<h2>Index</h2>

