
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section Header{
    <div class="page-heading page-heading-md">
    <h2 class="header__main">
        <span class="breadcrumb">
            <i class="fa fa-credit-card"></i>
        </span>
        <span class="title">Danh sách đơn hàng</span>
    </h2>
    </h2>

</div>
}
<h2>Index</h2>

